<div class="jumbotron">
	<center>
		<h3>Zusammenfassung :)<h3>
		<p>	Du bekommst jetzt noch einige Hinweise für das Lösungswort, aber du musst die Buchstaben dann auch noch richtig anordnen. Viel Spa&szlig; dabei. </p>
		<br/>
		<ol>
			<li>Wort: Erster Buchstabe</li>
			<li>Wort: Dritter Buchstabe</li>
			<li>Wort: Sechster Buchstabe</li>
			<li>Wort: Vorletzter Buchstabe zweites Wort</li>
			<li>Wort: Neunter Buchstabe</li>
			<li>Wort: Erster Buchstabe</li>
			<li>Wort: Letzter Buchstabe</li>
			<li>Wort: Vorletzter Buchstabe erstes Wort</li>
			<li>Wort: Vorletzter Buchstabe</li>
			<li>Wort: Erster Buchstabe</li>
		</ol>
		<p>
			Falls du es nicht errätst. Schau beim Oskar in seiner Jacke :) er hat einen Hinweis für dich.
		</p>
	</center>
</div>