<div class="jumbotron">
	<center>
		<h3>Lieber Schatz,</h3>
		<p>	super :). Für das nächste Rätsel musst du unten ein Wort eingeben, welches einen Bereich beschreibt, der mich sehr interessiert und nach vielen Stunden 
			der Verzweiflung auch dich. :)</p>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>