<div class="jumbotron">
	<center>
		<h3>1. Rätsel<h3>
		<p>	Das erste Rätsel sollte dir bekannt sein. Es ist ein Rätsel aus einem Buch, dass wir beide gelesen haben. </p>
		<br/>
		<p style="font-size: 16px;"> Schreit ohne Stimme,<br/>
			fliegt ohne Schwinge,<br/>
			beißt ohne Zahn,<br/>
			murmelt und pfeift -<br/>
			kein Mund hats getan.<br/>
			<br/>
		</p>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>