<div class="jumbotron">
	<center>
		<h3>Lieber Schatz,</h3>
		<p>	super :). Der Begriff den du eingeben musst, ist ein Überbegriff für etwas das wir in Zukunft vielleicht noch viel tun werden. Nach Amerika, nach Italien etc. :)</p>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>