b<div class="jumbotron">
	<center>
		<h3>Lieber Schatz,</h3>
		<p>	hier beginnt also deine mehr oder weniger lustige Reise zu deinem Geschenk. Du wirst einige schwierige und einige 
			leichte Aufgaben lösen müssen. Dafür musst du sehr genau lesen. Als erstes musst du ein Datum finden welches für mich 
			das wohl wichtigste Datum in meinem Leben ist, das Format dabei ist TT.MM.JJJJ. Viel Spaß dabei :)</p>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>