<div class="jumbotron">
	<center>
		<h3>Lieber Schatz,</h3>
		<p>	wenn du schon hier bist hast du das erste "Rätsel" gelöst. Der Hinweis für das nächste Rätsel ist in deinem Zimmer versteckt. 
			Du hast dort ein Buch welches sonst nicht bei dir ist. Wir haben es bereits beide gelesen. Gib den Titel ohne Leerzeichen ein.</p>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>