<div class="jumbotron">
	<center>
		<h3>2. Rätsel<h3>
		<p>	Welches Pokemon in deinem Team ist das Schnellste? </p>
		<br/>
		<p><input type="text" ng-model="password" /></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length != 0" ng-click="validatePassword()">
			Drück mich :)
		</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-show="password.length == 0" ng-disabled="true">
			Gib etwas ein :)
		</button>
	</center>
</div>